@import 'variables';

.main_title{
    font-size: 1em;
    color: var(--letter-color);
    font-family: 'MaidenCrimes';
}

.button_bar{
    border: none;
    background-color: var(--light-background);

    i{
        color: var(--color-theme);
    }
}

.link_item_navbar a, .link_item_sidebar a{
    text-decoration: none;
    color: var(--03);

    &:hover{
        transition: .3s ease-in-out;
        color: var(--light-color-theme);
    }
}

header{
    nav{
        width: 100%;
        display: grid;
        @include GridLayout-Columns(repeat(3, 1fr));
        border-bottom: 1px solid #000000;
        background-color: var(--dark-background);

        div{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .navbar_title_container{
            text-align: center;

            a{
                text-decoration: none;
    
                &:hover{
                    transition: .5s ease-in-out;
                    color: var(--color-theme);
                }
            }
        }

        .navbar_image_container img{
            width: 50px;
            height: 50px;
            @include screenTablet{
                display: none;
            }
        }
        .navbar_image_container button{
            display: none;

            @include screenTablet{
                padding: 5px 15px;
                display: block;
            }
        }

        .navbar_link_container{            
            .link_list_navbar{
                display: flex;
                list-style: none;
                align-items: center;

                .link_item_navbar{
                    font-size: 1.2em;
                    margin-left: 3vh;

                    &:first-child{
                        margin-left: 0;
                    }
                }
                
                .login{
                    padding: 10px;
                    border-radius: 10px;
                    text-decoration: none;
                    color: var(--color-theme);
                    border: 1px solid var(--01);
                    background-color: var(--dark-background);

                    &:hover{
                        cursor: pointer;
                        transition: .3s ease-in-out;
                        color: var(--03);
                        background-color: var(--01);
                    }
                }
            }
        }

        .navbar_sidebar_container{
            display: none;
        }

        @include screenTablet{
            @include GridLayout-Columns(repeat(2, 1fr));

            .navbar_link_container{
                display: none;
            }

            .navbar_sidebar_container{
                top: 0;
                left: 0;
                width: 35%;
                z-index: 10;
                height: 100vh;
                padding: 10px;
                display: flex;
                position: fixed;
                flex-direction: column;
                justify-content: space-between;
                box-shadow: 100px 1px 100px #00000079;
                background-color: var(--dark-background);

                .sidebar_title{
                    padding: 10px;
                    display: flex;
                    align-items: center;

                    button{
                        padding: 10px;
                        margin-left: 5px;
                        border-radius: 50px;

                        i{
                            font-weight: bold;
                        }
                    }
                }

                .link_list_sidebar{
                    width: 100%;
                    height: inherit;
                    display: flex;
                    list-style: none;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .link_item_sidebar, .link_item_sidebar_login{
                        padding: 10px;
                        font-size: 1.4em;
                        border-radius: 5px;
                        margin-left: 0 !important;
                        display: flex;
                        align-content: center;
                        background-color: var(--02);
                    }

                    .link_item_sidebar{
                        background-color: var(--01);

                        i{
                            font-size: 1em;
                            margin-right: 1vw;
                            color: var(--03);
                        }

                        &:hover{
                            transition: .3s ease-in-out;
                            background-color: var(--light-background);

                            a{
                                transition: .3s ease-in-out;
                                margin-left: 2vw;
                            }
                        }
                    }

                    .link_item_sidebar_login{
                        text-decoration: none;
                        justify-content: center;
                        color: var(--03);
                        border: 1px solid var(--light-background);
                        background-color: var(--dark-background);

                        &:hover{
                            color: var(--color-theme);
                            background-color: var(--light-background);
                        }
                    }
                }

                @include screenPhone{
                    width: 50%;
                }
            }
        }
    }
}