@import 'variables';

.top_container, .bot_container{
    padding: 1em;
}

.form_block, .link_block{
    padding: .8em;
}

.register_container{
    border-radius: 20px;
    background-color: var(--dark-background);

    .top_container{
        text-align: center;
        border-bottom: 2px solid #000000;

        h3{
            color: var(--letter-color);
        }
    }

    .bot_container form{
        .form_block, .form_block_2{
            margin-bottom: 10px;
            @include flexAlignI-JC(center, center);
    
            i{
                font-size: 1.5em;
                margin-right: 10px;
                color: var(--letter-color);
            }
    
            .user, .password, .email{
                padding: .5em;
                border: none;
                font-weight: bold;
                color: var(--letter-color);
                background: var(--dark-background);
    
                &::placeholder{
                    opacity: .5;
                    font-weight: bold;
                    color: var(--03);
                }
    
                &:focus{
                    outline: none;
                    transition: .2s ease-in-out;
                    border-bottom: 1px solid var(--letter-color);
                }
            }
    
            input[type="submit"]{
                width: 70%;
                padding: 8px 0;
                letter-spacing: 2px;
                border: none;
                color: var(--letter-color);
                background: var(--light-background);
                font-family: 'MaidenCrimes';

                &:hover{
                    cursor: pointer;
                    letter-spacing: 1px;
                    transition: .2s ease-in-out;
                    background-color: #000000;
                }

                @include screenPORTRAIT{
                    width: 100%;
                }
            }
        }

        .form_block_2{
            flex-direction: column;

            div{
                margin-bottom: 10px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

        .link_block{
            display: flex;
            text-align: left;
            flex-direction: column;

            a{
                font-size: .8em;
                margin-bottom: 10px;
                font-weight: bold;
                text-decoration: none;
                color: var(--light-color-theme);

                &:hover{
                    text-decoration: underline;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}