@import 'variables',
        'navbar_sidebar', 'footer',
        'signin', 'signup',
        'home', 'about', 'contacts';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--light-background);
}

section{
    width: 100%;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    @include flexAlignI-JC(center, center);
}

.page_title{
    font-size: 4.1em;
    color: var(--03);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.line{
    opacity: .4;
    height: 2px;
    margin: 5vh 0;
    background-color: var(--02);
}

.line_card{
    opacity: .4;
    height: 2px;
    margin: 2vh 0;
    background-color: var(--02);
}