@import 'variables',
        '_navbar.scss', 'signin';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--light-background);
}

section{
    width: 100%;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    @include flexAlignI-JC(center, center);
}